@charset "UTF-8";
/*=====================
定義
=====================*/
body {
  color: #333333;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #FFFFFF;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease 0s;
}
a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

.inner {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.btn {
  padding: 8px 40px;
  display: inline-block;
  background: #FFFFFF;
  color: #3EA1D1;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #3EA1D1;
}
.btn:hover {
  background: #3EA1D1;
  color: #FFFFFF;
}

/*=====================
section
=====================*/
.section {
  margin-top: 160px;
}
@media (max-width: 767px) {
  .section {
    margin-top: 80px;
  }
}

.section__title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2px;
  margin-bottom: 80px;
  position: relative;
}
.section__title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 65px;
  height: 1px;
  background: #3EA1D1;
}
@media (max-width: 767px) {
  .section__title::after {
    width: 40px;
  }
}
@media (max-width: 767px) {
  .section__title {
    font-size: 32px;
    padding-bottom: 2px;
    margin-bottom: 40px;
  }
}

/*=====================
header
=====================*/
.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #FFFFFF;
}
@media (max-width: 767px) {
  .header {
    line-height: 1;
  }
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 120px;
  margin-right: auto;
  line-height: 70px;
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.header__menu__lists {
  display: flex;
}

.header__menu__list:not(:first-child) {
  margin-left: 48px;
}
.header__menu__list a:hover {
  color: #3EA1D1;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .drawer {
    display: none;
  }
}
@media (min-width: 1200px) {
  .drawer {
    display: none;
  }
}

.drawer-nav {
  top: 70px;
  background: #3EA1D1;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 0;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background: #3EA1D1;
}

.drawer-overlay {
  background-color: transparent;
}

.drawer-menu-item {
  color: #FFFFFF;
  font-size: 20px;
  text-align: right;
  padding: 40px 14px 0 0;
  letter-spacing: 1.8px;
}
.drawer-menu-item:first-child {
  padding: 46px 14px 0 0;
}

/*=====================
top
=====================*/
.top {
  margin-top: 70px;
}

.top__inner {
  position: relative;
}

.top__picture {
  padding-top: 55%;
  background: url(../img/top@2x.png) top right/82.5% no-repeat;
}
@media (max-width: 767px) {
  .top__picture {
    padding-top: 120%;
    background: url(../img/sp/top@2x.png) top right/100% no-repeat;
  }
}

.top__content {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 92px 40px 92px 0;
  background: #FFFFFF;
  z-index: 10;
}
@media (max-width: 767px) {
  .top__content {
    position: static;
    transform: none;
    padding: 40px 30px 0 0;
  }
}

.top__title {
  font-size: 26px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .top__title .is-pc {
    display: none;
  }
}

.top__sub-title {
  margin-top: 28px;
}
@media (max-width: 767px) {
  .top__sub-title {
    margin-top: 16px;
  }
}

/*=====================
concept
=====================*/
.concept__content {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .concept__content {
    display: block;
  }
}

.concept__picture {
  width: 50%;
}
@media (max-width: 767px) {
  .concept__picture {
    width: 100%;
  }
}

.concept__text {
  width: 50%;
  padding-left: 6.6%;
}
@media (max-width: 767px) {
  .concept__text {
    width: 100%;
    padding-left: 0;
  }
}

.concept__title {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .concept__title {
    margin-top: 30px;
  }
}

.concept__sub-title {
  margin-top: 48px;
}
@media (max-width: 767px) {
  .concept__sub-title {
    margin-top: 24px;
  }
}

/*=====================
feature
=====================*/
@media (max-width: 767px) {
  .feature {
    max-width: 340px;
    margin-right: auto;
    margin-left: auto;
  }
}

.feature__contents {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .feature__contents {
    display: block;
  }
}

.feature__content {
  box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.1607843137);
}
@media (min-width: 1200px) {
  .feature__content {
    width: calc(33.3% - 60px);
  }
  .feature__content:not(:nth-child(3n+1)) {
    margin-left: 90px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .feature__content {
    width: calc(33.3% - 33.3333333333px);
  }
  .feature__content:not(:nth-child(3n+1)) {
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  .feature__content {
    width: 100%;
  }
  .feature__content:not(:first-child) {
    margin-top: 40px;
  }
}

.feature__content__link {
  display: block;
}
.feature__content__link:hover .feature__content__img img {
  transform: scale(1.05);
}

.feature__content__img {
  overflow: hidden;
}
.feature__content__img img {
  transition: transform 0.4s;
}

.feature__content__body {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .feature__content__body {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

/*=====================
about
=====================*/
.about {
  background: url(../img/bg@2x.png) no-repeat top center/cover;
  position: relative;
  padding: 120px 0;
}
@media (max-width: 767px) {
  .about {
    padding: 120px 0;
    background: url(../img/sp/bg@2x.png) no-repeat top center/cover;
  }
}
.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
}

.about__inner {
  position: relative;
}

.about__message {
  color: #FFFFFF;
}

.about__title {
  font-size: 22px;
}

.about__sub-title {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .about__sub-title {
    margin-top: 30px;
  }
}

/*=====================
products
=====================*/
@media (max-width: 767px) {
  .products {
    max-width: 340px;
    margin-right: auto;
    margin-left: auto;
  }
}

.products__wrapper {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.products__contents {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .products__contents {
    display: block;
  }
}

.products__content {
  width: calc(33.3% - 53.3333333333px);
}
@media (min-width: 1200px) {
  .products__content:not(:nth-child(3n+1)) {
    margin-left: 80px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .products__content {
    width: calc(33.3% - 33.3333333333px);
  }
  .products__content:not(:nth-child(3n+1)) {
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  .products__content {
    width: 100%;
  }
  .products__content:not(:first-child) {
    margin-top: 40px;
  }
}

.products__content__link {
  display: block;
}
.products__content__link:hover .products__content__img img {
  transform: scale(1.05);
}

.products__content__img {
  overflow: hidden;
}
.products__content__img img {
  transition: transform 0.4s;
}

.products__content__body {
  font-size: 14px;
  margin-top: 18px;
}
@media (max-width: 767px) {
  .products__content__body {
    margin-top: 10px;
  }
}

.products__content__price {
  color: #989898;
  font-size: 14px;
  margin-top: 6px;
}
@media (max-width: 767px) {
  .products__content__price {
    margin-top: 2px;
  }
}

.products__more {
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .products__more {
    margin-top: 30px;
  }
}

/*=====================
news
=====================*/
@media (max-width: 767px) {
  .news {
    max-width: 340px;
    margin-right: auto;
    margin-left: auto;
  }
}

.news__wrapper {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}

.news__content {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #989898;
}
@media (max-width: 767px) {
  .news__content {
    display: block;
  }
}

.news__content__link:not(:first-child) {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .news__content__link:not(:first-child) {
    margin-top: 30px;
  }
}

.news__content__img {
  width: 260px;
}
@media (max-width: 767px) {
  .news__content__img {
    width: 100%;
  }
}

.news__content__text {
  width: calc(100% - 260px);
  padding-left: 40px;
}
@media (max-width: 767px) {
  .news__content__text {
    width: 100%;
    padding-left: 0;
    margin-top: 6px;
  }
}

.news__content__date {
  font-size: 14px;
}

.news__content__title {
  font-size: 18px;
  margin-top: 4px;
}

.news__content__body {
  font-size: 14px;
  color: #888888;
  margin-top: 12px;
}

.news__more {
  text-align: center;
  margin-top: 40px;
}

.news__content__link {
  display: block;
}
.news__content__link:hover .news__content__img img {
  transform: scale(1.05);
}

.news__content__img {
  overflow: hidden;
}
.news__content__img img {
  transition: transform 0.4s;
}

/*=====================
message
=====================*/
.message__wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .message__wrapper {
    display: block;
  }
}

.message__img {
  width: 50%;
  order: 1;
}
@media (max-width: 767px) {
  .message__img {
    width: 100%;
  }
}

.message__text {
  width: 50%;
  padding-right: 6.6%;
  order: 0;
}
@media (max-width: 767px) {
  .message__text {
    width: 100%;
    padding-right: 0;
    margin-top: 12px;
  }
}

.message__title {
  font-size: 28px;
  line-height: 28/48;
  font-weight: bold;
}
@media (max-width: 767px) {
  .message__title {
    font-size: 22px;
  }
}

.message__sub-title {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .message__sub-title {
    margin-top: 20px;
  }
}

/*=====================
contact
=====================*/
.contact {
  background: url(../img/contact@2x.png) no-repeat center center/cover;
  padding: 80px 0;
}
@media (max-width: 767px) {
  .contact {
    padding: 50px 0;
  }
}

.contact__title {
  color: #3EA1D1;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .contact__title {
    margin-bottom: 30px;
  }
}

.required-text {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.required {
  color: #E7728E;
  font-size: 12px;
}

.contact__form {
  max-width: 510px;
  width: 100%;
  margin: 18px auto 0;
}
.contact-form__row {
  display: flex;
}
@media (max-width: 767px) {
  .contact-form__row {
    display: block;
  }
}
.contact-form__row:not(:first-child) {
  margin-top: 30px;
}

.contact-form__label {
  width: 180px;
}
@media (max-width: 767px) {
  .contact-form__label {
    width: 100%;
  }
}
.contact-form__label label {
  font-weight: 700;
  background: rgba(62, 161, 209, 0.7019607843);
  font-size: 18px;
  color: #fff;
  padding: 7px 4px;
  display: block;
  width: 170px;
  text-align: center;
  position: relative;
}
@media (max-width: 767px) {
  .contact-form__label label {
    text-align: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 6px 8px;
    font-size: 14px;
  }
}
.contact-form__label label::after {
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 0 21px 8px;
  border-color: transparent transparent transparent rgba(62, 161, 209, 0.7019607843);
}
@media (max-width: 767px) {
  .contact-form__label label::after {
    display: none;
  }
}

.contact-form__input {
  width: calc(100% - 180px);
  padding-left: 16px;
}
@media (max-width: 767px) {
  .contact-form__input {
    width: 100%;
    margin-top: 6px;
    padding-left: 0;
  }
}
.contact-form__input [type=text] {
  box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
  border-radius: 2px;
  border: none;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form__input [type=email] {
  box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
  border-radius: 2px;
  border: none;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form__input select {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff url(../img/select-arrow@2x.png) no-repeat right 12px center/17px 14px;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form__input textarea {
  box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
  border-radius: 2px;
  border: none;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  height: 120px;
  resize: none;
}

.contact-form__radio {
  display: inline-flex;
}
.contact-form__radio [type=radio] {
  display: none;
}
.contact-form__radio span {
  display: inline-block;
  padding: 10px 34px;
  background: #FFFFFF;
  color: #3EA1D1;
  font-weight: bold;
  box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.1607843137);
}
@media (max-width: 767px) {
  .contact-form__radio span {
    font-size: 14px;
    padding: 8px 24px;
  }
}
.contact-form__radio [type=radio]:checked + span {
  background: #3EA1D1;
  color: #FFFFFF;
}

.contact-form__check {
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .contact-form__check {
    margin-top: 10px;
  }
}
.contact-form__check [type=checkbox] {
  display: none;
}
.contact-form__check span {
  display: inline-block;
  padding-left: 49px;
  position: relative;
  line-height: 1;
}
@media (max-width: 767px) {
  .contact-form__check span {
    font-size: 14px;
  }
}
.contact-form__check span::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: #fff;
  border: 1px solid #3EA1D1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.12s, border-color 0.08s;
}
@media (max-width: 767px) {
  .contact-form__check span::before {
    width: 18px;
    height: 18px;
  }
}
.contact-form__check span a {
  font-weight: 700;
  border-bottom: 1px solid #3EA1D1;
  color: #3EA1D1;
}
.contact-form__check [type=checkbox]:checked + span::before {
  background: transparent;
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}

.contact-form__button {
  margin-top: 40px;
  text-align: center;
}
@media (max-width: 767px) {
  .contact-form__button {
    margin-top: 26px;
  }
}
.contact-form__button [type=submit] {
  display: inline-block;
  background: #fff;
  color: #3EA1D1;
  width: 137px;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  border: 1px solid #3EA1D1;
  font-size: 14px;
}
.contact-form__button [type=submit].active {
  background: #3EA1D1;
  color: #fff;
}

/*=====================
footer
=====================*/
.footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 14px;
  background: #F7F7F7;
}
@media (max-width: 767px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 14px;
  }
}

.footer__logo {
  width: 120px;
  margin: 0 auto;
}
.footer__policy {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 16px;
}

.footer__privacy-policy {
  margin-right: 28px;
}

.footer__icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .footer__icon {
    margin-top: 24px;
  }
}

.footer__icon__list:not(:first-child) {
  margin-left: 34px;
}
.footer__icon__list i {
  color: #3EA1D1;
}

.copyright {
  margin-top: 20px;
  color: #888888;
  font-size: 12px;
}